/* General page */
html {
	height: 100%;
}

body {
	height: 100%;
}

h2, h3 {
	margin-bottom: 10px;
}

/* Footer */
footer {
	margin-top: 60px;
	padding-bottom: 600px;
}

footer p {
	padding: 10px;
}

/* Nav bar */
@media (max-width: 979px) {
	.navbar-fixed-top {
		position: fixed; /* Fix for when Bootstrap tries to make it static */
	}
}

.creator {
	float: right;
	color: #ddd;
	margin-top: 10px;
}

/* Container */
div.container {
	height: 100%;
	position: relative;
	z-index: 5;
}

/* Sections */
div.section {
	padding-top: 30px;
	overflow: hidden;
	margin-left: -1px;
	margin-right: -1px;
}

div.section div.section-inner,
#home span.header, #home p.message,
footer p {
	border: 1px solid #000;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
	background-color: #fff;
}

div.section div.section-inner {
	padding: 30px 0;
	margin-top: 90px;
	position: relative;
}

/* Rows */
div.row {
	clear: both;
	margin-top: 15px;
	margin-bottom: 15px;
}

div.row div[class*="span"]:first-child > *,
div.row div[class*="span"].hiddenfirstrow > * {
	margin-left: 30px;
}

div.row div[class*="span"]:last-child > * {
	margin-right: 30px;
}

div.row.highlight {
	background-color: #eee;
	box-shadow: inset 0px 15px 20px -15px rgba(0,0,0,0.5), inset 0px -15px 20px -15px rgba(0,0,0,0.5);
	border: 1px solid #000;
	border-width: 1px 0;
}

div.row.highlight div[class*="span"] {
	height: 460px;
	padding: 20px 0;
	overflow: hidden;
}

div.row.highlight > div[class*="span"]:first-child,
div.row.highlight > div[class*="span"].hiddenfirstrow {
	border-left: 1px solid #000;
	margin-left: 19px;
}

@media (max-width: 767px) {
	div.row.highlight > div[class*="span"]:first-child ,
	div.row.highlight > div[class*="span"].hiddenfirstrow{
		margin-left: -1px;
	}
}

@media (min-width: 1200px) {
	div.row.highlight > div[class*="span"]:first-child,
	div.row.highlight > div[class*="span"].hiddenfirstrow {
		margin-left: 29px;
	}
}

div.row .sectionimg {
	margin: 0 auto !important;
	width: 150px;
	height: 150px;
	display: block;
}

/* Padding correction */
div.section div.section-inner h1 {
	margin-left: 30px;
}

div.section div.previoussection,
div.section div.nextsection {
	float: right;
	margin-right: 30px;
}

div.section div.previoussection {
	margin-bottom: 20px;
}

div.section-inner .leftmargin {
	margin-left: 30px;
}

/* Header section */
#home {
	min-height: 550px;
	height: 80%;
	max-height: 800px;
}

#home > div.section-inner {
	height: 100%;
	border-width: 0;
	padding-top: 90px;
	margin-top: 0;
	background-color: transparent;
}

#home h2 {
	font-size: 80px;
	line-height: 80px;
	margin: 20px 0 0 40px;
}

#home h1 {
	font-size: 120px;
	line-height: 120px;
	margin-left: 40px;
	margin-bottom: 30px;
}

#home p {
	float: right;
	font-size: 30px;
	line-height: 30px;
	clear: both;
	margin-top: 50px;
}

#home p.help {
	font-size: 18px;
	line-height: 18px;
	float: left;
}

#home span.header, #home p.message {
	display: block;
	padding: 20px;
}

/* Builder */
.graphbox {
	width: 50%;
	float: left;
	margin-right: 0 !important;
	height: 200px;
}

.graphbox .graph {
	
}

.worldbox {
	width: 100%;
	float: left;
}

.worldbox table {
	border: 1px solid #000;
	margin: 10px 0 0;
	background-color: #ccc;
}

.worldbox table tr td {
	width: 36px;
	height: 38px;
	background-repeat: no-repeat;
	background-position: centre centre;
}

.worldbox table tr td img {
	opacity: 0;
}

.worldbox table tr td.occupied {
	background-image: url(../img/daisy-black.png);
}

#build .span4 h2 {
	float: left;
}

#daisyform fieldset {
	margin-bottom: 20px;
}

#daisyform legend {
	margin-bottom: 10px;
}

#daisyform legend + .control-group {
	margin-top: 0px;
}

#daisyform .control-group {
	margin-bottom: 5px;
}

/* Maths */
span.math {
	font-size: 120%;
}

/* Background planets */
div.planet {
	background-color: #999;
	position: fixed;
	background-image: url(../img/daisyworld.png);
	background-position: center center;
}

div.planet.inline {
	position: relative;
}

div.planet.inline.right {
	float: right;
}

div.planet.inline.center {
	margin: 0px auto !important;
}

#planet1 {
	width: 700px;
	height: 700px;
	border-radius: 350px;
	top: 100px;
	right: 50px;
}

#planet2 {
	width: 700px;
	height: 700px;
	border-radius: 350px;
	top: 1200px;
	left: -100px;
}

#planet3 {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	top: 400px;
	left: 100px;
}

#planet4 {
	width: 70px;
	height: 70px;
	border-radius: 35px;
	top: 800px;
	left: 50%;
}

#planet5 {
	width: 70px;
	height: 70px;
	border-radius: 35px;
	top: 1000px;
	left: -20px;
}

#planet6 {
	width: 70px;
	height: 70px;
	border-radius: 35px;
	top: 1500px;
	right: -20px;
}

#planet7 {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	top: 1500px;
	left: 300px;
}

#planet8 {
	width: 250px;
	height: 250px;
	border-radius: 125px;
	top: 1800px;
	left: 50px;
}

#planet9 {
	width: 250px;
	height: 250px;
	border-radius: 125px;
	top: 1200px;
	right: 150px;
}

#planet10 {
	width: 70px;
	height: 70px;
	border-radius: 35px;
	top: 3500px;
	right: 70px;
}

div.planet.p50 {
	width: 50px;
	height: 50px;
	border-radius: 25px;
}

div.planet.p100 {
	width: 100px;
	height: 100px;
	border-radius: 50px;
}

div.planet.p150 {
	width: 150px;
	height: 150px;
	border-radius: 75px;
}

div.planet.p200 {
	width: 200px;
	height: 200px;
	border-radius: 100px;
}